/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic layout */
html {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #151515;
    color: ghostwhite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(to right, rgb(21, 21, 21), #808080);
    width: 100%;
    padding: 0.5rem;
    text-align: left;
    /* Align text to the left */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Align items to the left */
    padding: 0 rem;
    /* Add some padding for better spacing */
}

.image img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 1rem;
    /* Add transition for smooth rotation */
}

.image img:hover {
    animation: rotate 1.2s forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-content img {
    max-width: 350px;
    /* Adjust the maximum width as needed */
    height: auto;
    border-radius: 5px;
    margin-left: 1rem;
    /* Space between each image */
}

.Patreon:hover {
    transform: translateY(-10px);
    transition: transform 0.3s;
}

.Discord :hover {
    transform: translateY(-10px);
    transition: transform 0.3s;
}

.Paypal :hover {
    transform: translateY(-10px);
    transition: transform 0.3s;
}

.Youtube:hover {
    transform: translateY(-10px);
    transition: transform 0.3s;
}

.Fiverr:hover {
    transform: translateY(-10px);
    transition: transform 0.3s;
}

/* Main content styles */
main {
    flex: 1;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.shows {
    margin: -2rem 77rem 0 1rem;
    /* Adjust as needed for spacing */
}

.movies {
    margin: -1.15rem 67rem 0 1rem;
    /* Adjust as needed for spacing */
}

.comics {
    margin: -1.2rem 56.2rem 0 1rem;
    /* Adjust as needed for spacing */
}

.mods {
    margin: -1.15rem 45.4rem 0 1rem;
    /* Adjust as needed for spacing */
}

.games {
    margin: -1.16rem 36.2rem 0 1rem;
    /* Adjust as needed for spacing */
}

.programs {
    margin: -1.17rem 25.7rem 0 1rem;
    /* Adjust as needed for spacing */
}

.miscellaneous {
    margin: -1.17rem 12.45rem 0 1rem;
    /* Adjust as needed for spacing */
}

.CUBIC_history {
    margin: -1.17rem -4.2rem 0 2.2rem;
    /* Adjust as needed for spacing */
}

/* ----------------------------------------------------------------------the main website section----------------------------------------------------------------------- */

.website-navigation h3 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.website-navigation a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.2rem 0.5rem;
    border-radius: 1.5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: absolute;
    z-index: 10;
}

.website-navigation a:hover {
    background-color: #ffffff;
    color: #000000;
}

main p {
    font-size: 1.2rem;
    margin-top: -10rem;
}

h1 {
    font-size: 8rem;
    margin: 10rem;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

/* Footer styles */
footer {
    background: rgb(21, 21, 21);
    color: whitesmoke;
    width: 100%;
    padding: 0.25rem;
    text-align: center;
}

.version {
    padding-left: 1460px;
    color: rgb(124, 124, 124);
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #151515;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
}
